body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.stopwatch {
    text-align: center;
    border-style: outset;
    border-radius: 12px;
    padding: 90px;
}

.display {
    font-size: 3em;
    margin-bottom: 10px;
}

button {
    font-size: 1em;
    margin: 5px;
    padding: 5px;
    border-radius: 10%;
}

.lap-times {
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
}

